@import "../../libs/bootstrap/bootstrap.min" 
// @import "../../libs/bootstrap/dist/css/bootstrap-grid.min" 
// @import "../../libs/bootstrap/dist/css/bootstrap-reboot.min" 
// @import "../src/libs/bootstrap/bootstrap.min.css" 
@import modal

*
  margin: 0
  padding: 0
  
body
  background-color: #eee


.logo-a
  text-decoration: none 

.logo-text
  cursor: pointer

.space
  height: 30px
  width: 100%

.line-through
  text-decoration: line-through
